.comments{
    border: 1px solid #2928286e;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 0px 5px 50px rgba(190, 190, 190, 0.25);
    margin-top: 30px;
    background-color: #3333336e;
   
}

.ul {
    font-size: '10px';
    list-style: none;
    margin-top: 30px;
    margin-right: 30px;
    position: relative;
    
}

.commentsList{
    display: block;
    position: relative;
}

.hr{
    margin-top: 25px ;
    border-color: #8a898970;
}

.dslist{
    width: 300px; 
     float: right;
     position: relative;


}

.sList{
    display: block; 
    text-align: justify; 
    margin-left: 60px;
}

.userImage {/* Ajusta el tamaño según tus necesidades */
    position: relative;
    z-index: 99;
    float: left;
  }

  .Image {/* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    margin-right: 10px;
  }

.LoadingCommentsContainer {
   
  }

  .LoadingCommentsTextContainer {
    position: relative;
    margin-top: 25px;
    margin: 50px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0px 5px 50px  rgba(190, 190, 190, 0.25);
    padding: 12px 0;
  }
  
  .LoadingCommentsText {
    margin: 10px 0 10px 10px;
    width: calc(100% - 120px);
    font-size: 10px;
    line-height: 10px;

  }
  
  .LoadingCommentsTitle
  {
    cursor: pointer;
    border-radius: 50px;
    height: 15px;
    width: 58px;
    margin-top: -24px;
    margin-left: 60px;
  }
  .LoadingCommentsTitle {
    position: absolute;
    left: 12px;
  }

  .LoadingCommentsImg {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 48px;
    width: 48px;
    margin-top: -30px;
  }
  .LoadingCommentsImg {
    position: absolute;
    left: 12px;
  }


  .LoadingCommentsTextContainer, 
  .TodoCounterLoading,
  .LoadingCommentsImg {
    background: linear-gradient(90deg,  rgba(212, 212, 212, 0.521), rgba(177, 177, 177, 0.25));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
  }

  
  .LoadingCommentsTextContainer,
  .LoadingCommentsTitle{
    background: linear-gradient(90deg, rgba(212, 212, 212, 0.521), rgba(177, 177, 177, 0.25));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
  }
  
  @keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }