.header{
    border: 1px solid #a7a7a76e;
    border-radius: 6px;
    padding: 4px;
    box-shadow: 0px 5px 25px rgba(190, 190, 190, 0.25);
    margin-bottom: 25px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 32px; 
}

.navigation a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

